/* Ustawienia ogólne */
body {
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
    background: url('https://cdna.artstation.com/p/assets/images/images/028/693/879/large/marcus-siskow-new-world-screenshot-v1.jpg?1598941989') no-repeat center center fixed;
    background-size: cover;
    color: #e1e1e1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Tło dla nagłówka */
header {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    color: #f1c40f;
    text-align: center;
    font-size: 2.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    margin-bottom: 40px;
}

/* Formularz */
form {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    margin-bottom: 40px;
    background-image: url('https://static.newworld.com/media/images/nw_crafting_table.jpg');
    background-size: cover;
}

/* Lista członków */
.members-list {
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

/* Listy członków */
#members li {
    background-color: #3c3c3c;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 1.1rem;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    background-image: url('https://cdna.artstation.com/p/assets/images/images/018/633/185/large/nolwenn-daniel-newworldpreorder3.jpg?1560451047');
    background-size: cover;
    background-position: center;
    color: white;
}

/* Role */
.role-tank {
    border-left: 5px solid #3eaf7c;
    background-image: url('https://static.newworld.com/media/images/tank_role_icon.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.role-healer {
    border-left: 5px solid #d93362;
    background-image: url('https://static.newworld.com/media/images/healer_role_icon.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.role-dps {
    border-left: 5px solid #e67e22;
    background-image: url('https://static.newworld.com/media/images/dps_role_icon.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
}

/* Status członka */
.nickname {
    font-weight: bold;
    font-size: 1.2rem;
}

.member-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.member-info span {
    margin: 5px 0;
}

/* Dodatkowe stylowanie przycisków */
form button {
    background-color: #f1c40f;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #e1b500;
}
